@theme {
  /* Colors */
  --color-pink-500: #f5179a;
  --color-black-500: #212121;

  /* Animation */
  --animate-slideUp: slideUp 1s ease-out;

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme inline {
  --color-primary: var(--color-pink-500);
  --color-background: var(--color-black-500);
}
